WPFClient/Service References/SVC/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceAssembly" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Say">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="msg" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="line" nillable="true" type="q3:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWriting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q4:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q5:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNewGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letter" type="q6:char" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWordInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="len" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveGameWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="sender" nillable="true" type="q7:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawerResponce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="sender" nillable="true" type="q8:Client" />
        <xs:element minOccurs="0" name="answer" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="sender" nillable="true" type="q9:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="clients" nillable="true" type="q10:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="msg" nillable="true" type="q11:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="line" nillable="true" type="q12:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="line" nillable="true" type="q13:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWritingCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q14:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q15:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceAssembly" minOccurs="0" name="client" nillable="true" type="q16:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letter" type="q17:char" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveWordInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="len" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawerRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WordChoose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="words" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfomStartGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfomEndGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>