WPFClient/Service References/SVC/ServiceAssembly.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceAssembly" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceAssembly" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pic" nillable="true" type="tns:Picture" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Letter" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:LineSettings" />
      <xs:element minOccurs="0" name="X1" type="xs:double" />
      <xs:element minOccurs="0" name="X2" type="xs:double" />
      <xs:element minOccurs="0" name="Y1" type="xs:double" />
      <xs:element minOccurs="0" name="Y2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="LineSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thickness" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineSettings" nillable="true" type="tns:LineSettings" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
</xs:schema>