WPFClient/Service References/SVC/ServiceAssembly1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceAssembly" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceAssembly" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pic" nillable="true" type="tns:Picture" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Letter" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="FileMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMessage" nillable="true" type="tns:FileMessage" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
</xs:schema>