WPFClient/Service References/SVC/System.Windows.Input1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows.Input" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows.Input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStylusPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StylusPoint" type="tns:StylusPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStylusPoint" nillable="true" type="tns:ArrayOfStylusPoint" />
  <xs:complexType name="StylusPoint">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="PressureFactor" type="xs:float" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StylusPoint" nillable="true" type="tns:StylusPoint" />
</xs:schema>