WPFClient/Service References/SVC/System.Windows.Media1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Windows.Media" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MS.Internal" />
  <xs:complexType name="Color">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="B" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="G" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="R" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ScA" type="xs:float" />
      <xs:element minOccurs="0" name="ScB" type="xs:float" />
      <xs:element minOccurs="0" name="ScG" type="xs:float" />
      <xs:element minOccurs="0" name="ScR" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="Matrix">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_m11" type="xs:double" />
      <xs:element name="_m12" type="xs:double" />
      <xs:element name="_m21" type="xs:double" />
      <xs:element name="_m22" type="xs:double" />
      <xs:element name="_offsetX" type="xs:double" />
      <xs:element name="_offsetY" type="xs:double" />
      <xs:element name="_padding" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MS.Internal" name="_type" type="q1:MatrixTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrix" nillable="true" type="tns:Matrix" />
</xs:schema>